<head>
  <title>Error 404</title>
   <meta charset="UTF-8">
  <link rel="icon" href="assets/img/icon.png">
  
</head>  

<h2>Error 404: page not found</h2>
<a href="https://kazmal.tech">Back to kazmal.tech</a>  


<h5>&copy; Kaz Malhotra 2019</h5>
